*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*.searchTerm{
    box-sizing: content-box;
    margin: 0;
    padding: 0; 
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);
h1,h2,h3,h4,h5,h6,p,a,button,input{
    margin: 0;
    padding: 0;
}
:root{
--darkgreen: #182015;
--white: #a0ff87;
--green: #7BA05B;
--lightgreen: #DAFFD9;
}
/* .container */
.block {
  margin: 0 auto;
  max-width: 1280px; 
}
 /* background */
 .background {
    width: 50%;
    height: 50%;
    max-width: 129.5vh;
    margin: 0px;
 }
 /* navbar */
.navbar{
  margin: 0 auto;
  max-width: 1280px;
  background: var(--white);
}

.nav-link{
  color: var(--green);
  font-size: 13px;
  font-family: 'PT Sans';
  font-weight: bold;
}
.btn{
  margin-right: auto;
  text-align: right;
  padding: 12px 29px;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 15px;
  font-size: 13px;
  font-family: 'PT Sans';
  font-weight: bold;
}
.btn:hover, .botton_register_menu:active{
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
}
 /* header btn */
  /* header_content */
.header_content{
  margin: 0 auto;
  max-width: 1280px; 
  
}
 /* header botton sity */
 .dropcontainer{
    position: absolute;
    padding: 11px 42px;
    top: 74px;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--darkgreen);
 }
 /* search */
.search {
    position: relative;
    display: flex;
    }
.searchTerm {
    border: 3px solid var(--green);
    border-right: none;
    padding: 9px 0px 9px 24px;;
    height: 20px;
    border-radius: 15px 0 0 15px;
    }
.searchTerm:focus{
    color: var(--darkgreen);
    }
.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    border: 3px solid var(--green);
    background: var(--darkgreen);
    text-align: center;
    color: var(--darkgreen);
    cursor: pointer;
    font-size: 20px;
    }
.wrap{
    position: absolute;
    top: 74px;
    margin-top: 1rem;
    margin-left: 18rem;
    display: flex;
    flex-wrap: wrap;
    }
.placeholder {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 17px;
    color: var(--darkgreen);
    }
    /* menu */
.menu{
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
    }
    /* intro */
.intro{
position: absolute;
width: 40%;
top: 295px;
font-family: 'Russo One';
font-style: normal;
font-size: 62px;
color: var(--white);
line-height: 64px;
}
/* text */
.text{
position: absolute;
width: 40%;
max-height: 200px;
top: 432px;
font-family: 'PT Sans';
font-style: normal;
font-size: 20px;
line-height: 21px;
color: var(--lightgreen);
}
/* btn */
.buttonRegisterMenu{
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    padding: 12px 18px;
    top: 626px;
}
/* register */
.blockreg{
  margin: auto;
  max-width: 1280px; 
}
.intro_reg{
    position: absolute;
    top: 849px;
    font-family: 'Russo One';
    font-style: normal;
    font-size: 48px;
    color: var(--white);
    line-height: 58px;
    margin-left: 12%;
}
.text_reg{
    position: absolute;
    left: 498px;
    top: 923px;
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 21px;
    color: var(--lightgreen);
}
.scopes{
  margin: 0 auto;
  max-width: 1280px; 
  width: 100%;
  justify-content: space-between;
}
.scope1{
    position: absolute;
    margin: auto;
    max-width: 1280px; 
    top: 972px;
    margin-left: 6rem ;
}
.scope2{
    position: absolute;
    margin: auto;
    max-width: 1280px; 
    top: 824px;
    margin-left: 17rem;
}
.scope3{
    position: absolute;
    margin: auto;
    max-width: 1280px; 
    top: 972px;
    margin-left: 55rem;
}
.botton_register_reg{
    display: flex;
    margin-left: 28%;
    position: absolute;
    padding: 12px 18px;
    top: 1445px;
}


/* personal area */
.pa{
  margin: 0 auto;
  max-width: 1280px; 
  width: none;
  flex-grow: 0;
}
/* попытки */
ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    color: var(--green);
    font: 1rem/1.3;
    font-family: 'PT Sans';
  }
  
  .author-archive {
    padding: 1.5rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
  }
  
  h1 a:hover {
    background: var(--green);
    color: var(--green);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: var(--green);
    color: var(--darkgreen);
  }
  
  
  /* FILTERED ELEMENTS (POSTS)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .posts .post {
    background: var(--white);
    border: 3px solid var(--green);
    border-radius: 15px;
  }
  
  .posts .post-title {
    font-size: 1.3rem;
  }
  
  .posts .post-title:hover {
    text-decoration: underline;
  }
  
  .posts figcaption {
    padding: 1rem;
  }
  
  .posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .posts .post-categories * {
    display: inline-block;
  }
  
  .posts .post-categories li {
    margin-bottom: 0.2rem;
  }
  
  .posts .post-categories a {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
  }
  
  .posts .post-categories a:hover {
    background: var(--green);
    color: var(--white);
  }
  

  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 900px) {
    .posts {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 650px) {
    html {
      font-size: 14px;
    }
  
    .posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
    
  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="All"]:checked ~ .filters [for="All"],
  [value="budget"]:checked ~ .filters [for="budget"],
  [value="paid"]:checked ~ .filters [for="paid"],
  [value="state"]:checked ~ .filters [for="state"],
  [value="nostate"]:checked ~ .filters [for="nostate"],
  [value="hostel"]:checked ~ .filters [for="hostel"],
  [value="license"]:checked ~ .filters [for="license"],
  [value="vuz"]:checked ~ .filters [for="vuz"] {
    background: var(--green);
    color: var(--white);
  }
  
  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }
  
  [value="budget"]:checked ~ .posts .post:not([data-category*="budget"]),
  [value="paid"]:checked ~ .posts .post:not([data-category*="paid"]),
  [value="state"]:checked ~ .posts .post:not([data-category*="state"]),
  [value="nostate"]:checked ~ .posts .post:not([data-category*="nostate"]),
  [value="hostel"]:checked ~ .posts .post:not([data-category*="hostel"]),
  [value="license"]:checked ~ .posts .post:not([data-category*="license"]),
  [value="vuz"]:checked ~ .posts .post:not([data-category*="vuz"]) {
    display: none;
  }

  