@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a,button,input{
    margin: 0;
    padding: 0;
}

:root{
    --darkgreen: #182015;
    --white: #FFFFFF;
    --green: #7BA05B;
    --lightgreen: #DAFFD9;
}
