.main-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem 11rem 0.5rem 11rem;
    align-items: baseline;
    background-color: var(--white);
}
.nav-link{
    color: var(--green);
    font-size: 13px;
    font-family: 'PT Sans', serif;
    font-weight: bold;
}
.btn{
    text-align: right;
    padding: 12px 29px;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 15px;
    font-size: 13px;
    font-family: 'PT Sans', serif;
    font-weight: bold;
}
.btn:hover, .buttonRegisterMenu:active{
    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
}
.header_content{
    margin: 0 auto;
    max-width: 1280px;

}
.dropcontainer {
    padding: 11px 42px;
    align-items: center;
    justify-content: center;
    background-color: var(--darkgreen);
}


.mainblock {
    height: 1500px;
    width: 100%;
    background-image: url("./assets/bgtest.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.search-section {
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
}
